{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Consultar Horarios</title>
  <link rel="stylesheet" href='{% static "css/consultar_horario.css" %}' type='text/css'>
  <link rel="shortcut icon" href="https://www.icesi.edu.co/moodle/theme/image.php/space/theme/1712249811/favicon">
</head>

<body>
  <div id="page-container">
    <div id="page1" class="fade-in">
      <div class="bloq-sup">
        <form method="get">
          <div class="bloq-sup_secd">
            <div class="div_boton_return">
              <button class="boton-2" name="boton1" type="button" onclick="redirigirServiciosAsignaciondesdeConsultarHorarios()">
                <img src="/static/Images/retorno.png" height="55" width="55" alt="Botón de retorno" />
              </button>
            </div>
            <div class="titulo">
              <div class="div_CCSA">
                <h1>CCSA</h1>
              </div>
              <div class="descripcion">
                <h3>Centro Compartido de Servicios Académicos</h3>
              </div>
            </div>
          </div>
        </form>
      </div>

      <!-- Barra de filtro para buscar horarios -->
      <div class="bloq-mid-wrapper">
        <div class="bloq-mid">
          <div class="intermed">
            <h1>Horarios Registrados</h1>
          </div>
          <div class="intermed-bloq">
            <form method="get" class="filtro-form">

              <label for="fecha_inicio_horario">Fecha:</label>
              <input class="form-control" type="date" name="fecha_inicio_horario" id="fecha_inicio_horario">

              <label for="hora_inicio_horario">Hora Inicio:</label>
              <input class="form-control" type="time" name="hora_inicio_horario" id="hora_inicio_horario">

              <label for="hora_final_horario">Hora Final:</label>
              <input class="form-control" type="time" name="hora_final_horario" id="hora_final_horario">

              <label for="modalidad">Modalidad:</label>
              <select class="form-control" name="modalidad" id="modalidad">
                <option value="">Seleccionar modalidad</option>
                <option value="presencial">Presencial</option>
                <option value="virtual">Virtual</option>
                <option value="mixta">Mixta</option>
              </select>

              <label for="materia">Materia:</label>
              <input class="form-control" type="text" name="materia" id="materia">

              <label for="grupo">Grupo:</label>
              <select class="form-control" name="grupo" id="grupo">
                <option value="">Seleccionar grupo</option>
                <option value="001">001</option>
                <option value="002">002</option>
                <option value="003">003</option>
                <option value="004">004</option>
              </select>
              
                <button type="submit" class="btn-1">Buscar</button>

            </form>
          </div>
          <table class="form-1">
            <thead>
              <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Hora inicio</th>
                <th>Hora final</th>
                <th>Materia</th>
                <th>Grupo</th>
                <th>Modalidad</th>
                <th>Enlace Virtual</th>
                <th>Salon Presencial</th>
              </tr>
            </thead>
            <tbody>
              {% for horario in horarios %}
              <tr>
                <td>{{ horario.id_horario }}</td>
                <td>{{ horario.fecha_inicio_horario }}</td>
                <td>{{ horario.hora_inicio_horario }}</td>
                <td>{{ horario.hora_final_horario }}</td>
                <td>{{ horario.materia }}</td>
                <td>{{ horario.grupo }}</td>
                <td>{{ horario.modalidad }}</td>
                <td>{{ horario.enlace_virtual }}</td>
                <td>{{ horario.salon_presencial }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="bloq-inf">
        <h4>Universidad Icesi</h4>
        <h4>Todos los derechos reservados</h4>
        <h4>Derechos de Autor</h4>
      </div>
    </div>
  </div>
  <script src="{% static 'js/transiciones.js' %}"></script>
</body>

</html>
