{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Empezar Programación Academica</title>
  <link rel="stylesheet" href='{% static "css/empezar_programacion.css" %}' type='text/css'>
  <link rel="shortcut icon" href="/static/Images/logo_icesi2.png">
</head>
<body>
  <div id="page-container">
    <div id="page1" class="fade-in">
      <div class="bloq-sup">
        <form method="get">
          <div class="bloq-sup_secd">
            <div class="div_boton_return">
              <button class="boton-2" name="boton1" type="button" onclick="redirigirIndexDesdeProgramacion()">
                <img src="/static/Images/retorno.png" height="55" width="55" alt="Botón de retorno" />
              </button>
            </div>
            <div class="titulo">
              <div class="div_CCSA">
                <h1>CCSA</h1>
              </div>
              <div class="descripcion">
                <h3>Centro Compartido de Servicios Académicos</h3>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="bloq-mid-wrapper">
        <div class="bloq-mid">
            <div class="intermed">
                <h1>Empezar Programación Academica</h1>
            </div>
            <div class="intermed-bloq-container">
                <form method="POST" class="form-1" enctype="multipart/form-data" id="programacionForm">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="buttondiv">
                        <button type="submit" class="btn-1">Continuar</button>
                    </div>
                </form>
            </div>
            {% if error %}
            <div class="error-message">
                {{ error }}
            </div>
            {% endif %}
        </div>
      </div>
    
      <div id="modal-confirmacion" class="modal">
        <div class="modal-contenido">
          <span class="cerrar-modal" onclick="cerrarModal()">&times;</span>
          <p>Creando Evento...</p>
        </div>
      </div>
      <div id="modal-error" class="modal" style="display: none;">
        <div class="modal-contenido">
          <span class="cerrar-modal" onclick="cerrarModalError()">&times;</span>
          <p id="error-message-modal"></p>
        </div>
      </div>
      <div class="bloq-inf">
        <h4>Universidad Icesi</h4>
        <h4>Todos los derechos reservados</h4>
        <h4>Derechos de Autor</h4>
      </div>
    </div>
  </div>
  <script src="{% static 'js/transiciones.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const programaSelect = document.getElementById('id_programa_de_posgrado');
      const semestreSelect = document.getElementById('id_semestre');
      const materiaSelect = document.getElementById('id_materia');
      const horarioSelect = document.getElementById('id_horario');
      const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

      if (programaSelect && semestreSelect && materiaSelect) {
        programaSelect.addEventListener('change', updateMateriaOptions);
        semestreSelect.addEventListener('change', updateMateriaOptions);
        materiaSelect.addEventListener('change', updateHorarioOptions);

        function updateMateriaOptions() {
          const programaId = programaSelect.value;
          const semestreId = semestreSelect.value;

          if (programaId && semestreId) {
            fetch(`/index/programacion/filtrar_materias/?programa=${programaId}&semestre=${semestreId}`, {
              headers: {
                'X-CSRFToken': csrfToken
              }
            })
            .then(response => response.json())
            .then(materias => {
              materiaSelect.innerHTML = '<option value="">---------</option>';

              materias.forEach(materia => {
                const option = document.createElement('option');
                option.value = materia.codigo_materia;
                option.text = materia.nombre_materia;
                materiaSelect.add(option);
              });
            })
            .catch(error => {
              console.error('Error al obtener materias:', error);
            });
          } else {
            materiaSelect.innerHTML = '<option value="">---------</option>';
          }
        }

        function updateHorarioOptions() {
          const materiaId = materiaSelect.value;

          if (materiaId) {
            fetch(`/index/programacion/filtrar_horarios/?materia=${materiaId}`, {
              headers: {
                'X-CSRFToken': csrfToken
              }
            })
            .then(response => response.json())
            .then(horarios => {
              horarioSelect.innerHTML = '<option value="">---------</option>';

              horarios.forEach(horario => {
                const option = document.createElement('option');
                option.value = horario.id_horario;
                option.text = `${horario.fecha_inicio_horario} ${horario.hora_inicio_horario} - ${horario.hora_final_horario}`;
                horarioSelect.add(option);
              });
            })
            .catch(error => {
              console.error('Error al obtener horarios:', error);
            });
          } else {
            horarioSelect.innerHTML = '<option value="">---------</option>';
          }
        }
        updateMateriaOptions();
      } else {
        console.error('No se encontraron los elementos del formulario necesarios para el filtrado.');
      }
    });

  </script>
</body>
<script>
  // Función para redirigir a una página HTML específica
  function descargarCSV() {
    window.location.href = 'program_csv/'; // Reemplaza '/servicios_asignacion' con la ruta de tu página HTML
  }
</script>
</html>
