{% extends 'base.html' %}

{% block content %}
<div>
    <h2>Asignacion de espacio</h2>
    <h4>Nombre del espacio</h4>
    <input type="text" name="nombre">
    <h4>Ubicación</h4>
    <input type="text" name="ubicacion">
    <h4>Capacidad</h4>
    <input type="text" name="capacidad">
    <h4>Tipo</h4>
    <input type="text" name="tipo">
    <h4>Razon</h4>
    <input type="text" name="razon">
    <a href="/index"><button>Enviar solicitud</button></a>
    <a href="/index"><button>Cancelar</button></a>
</div>
{% endblock %}