<html>
    <head>
        <title>
            Asignar Profesores a Materia
        </title>

        <form method="get" action="">

            <input name="boton1" type="image" src="Images/retorno.png" width="25" height="25">

        </form>

        <H1>CCSA</H1>
        <H3>Centro Compartido de Servicios Academicos</H3>

    </head>

    <body>
        <nav>
            <h2>Asignacion de Profesores</h2>

            <form action="" method="post">

                <ul>
                    <li>
                        <label for="Name Materia">Nombre de la Materia</label>
                        <br>
                        <br>
                        <input type="text" id="name" name="name_course" placeholder="Digite el nombre o el NRC de la materia" style="width : 245px;">
                    </li>
                    <br>
                    <li>
                        <label for="Name  Professor">Nombre Profesor</label>
                        <br><br>
                        <input type="text" id="name_pro" name="name_profesor" placeholder="Digite el nombre o el ID del profesor" style="width : 245px;">
                    </li>
                    <br>
                    <input type="submit" name="save" value="Guardar">
                    <input type="button" name="close" value="Cancelar">
                </ul>

            </form>

        </nav>

        <h4>Universidad Icesi</h4>
        <h4>Todos los derechos reservados</h4>
        <h4>Derechos de Autor</h4>
    </body>

</html>


