{% extends 'base2.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Director de Programa/title>
</head>
<body>
    <h1>Crear Director de Programa</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <a href="gestion/"></a>
        <button type="submit">Guardar</button>
    </form>
    <a href="/gestion"> <button> Cancelar </button></a>
</body>
</html>

{% endblock %}