{% extends 'base.html' %}

{% block content %}

<div>
    <h3>Maestria UX ACTIVO<button>🖉</button></h3>
    <h4>Modalidad: Presencial <button>🖉</button></h4>
  
    <h4>Tipo: Maestria <button>🖉</button></h4>
    <h4>Director de programa: Norha Villegas <button>🖉</button></h4>

    <h4>Valor del semestre: $10.500.000 <button>🖉</button></h4>
    <h4>Duracion: 3 años (año y medio) <button>🖉</button></h4>
    <h4>Malla curricular
        <button>
            Descargar 🖉
        </button>
    </h4>
   
    <br>
    <button>Guardar Cambios</button>
    <button>Atras</button>
    
    
</div>

{% endblock%}