{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrar Materias de la Malla Curricular</title>
  <link rel="stylesheet" href='{% static "css/gestion.css" %}' type='text/css'>
</head>
<body>
  <div id="page-container">
    <div id="page1" class="fade-in">
      <div class="bloq-sup">
        <form method="get">
          <div class="bloq-sup_secd">
            <button class="boton-2" name="boton1" type="button" onclick="redirigirIndex()">
              <img src="/static/Images/retorno.png" height="55" width="55" alt="Botón de retorno" />
            </button>
            <div class="titulo">
              <h1>CCSA</h1>
              <div class="descripcion">
                <h3>Centro Compartido de Servicios Académicos</h3>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="bloq-mid">
          <div class="intermed">
              <h1>Gestion de la <br>Informacion</h1>
          </div>
          <div class="intermed-bloq">
                  <button class="btn-1" type="button" onclick="redirigirNuevoPrograma()"> Crear un nuevo programa</button>
                  <button class="btn-1" type="button" onclick="redirigirAHTML2()">Editar programa existente</button>
                  <button class="btn-1" type="button">Generar reporte sobre programa existente</button>
                  <button class="btn-1" type="button">Eliminar programa inactivo</button>
                  <button class="btn-1" type="button">Buscar informacion de programa</button>
                  <button class="btn-1" type="button">Periodo Academico</button>
          </div>
      </div>
      <div class="photo">
          <img src="/static/Images/gestion.png" alt="Mi imagen">
      </div>    
      <div class="bloq-inf">
          <h4>Universidad Icesi</h4>
          <h4>Todos los derechos reservados</h4>
          <h4>Derechos de Autor</h4>
      </div>
    </div>
  </div>    
  <script>
    // Función para redirigir a una página HTML específica
    function redirigirAHTML() {
      window.location.href = '/index'; // Reemplaza '/servicios_asignacion' con la ruta de tu página HTML
    }
  </script>
  <script>
    // Función para redirigir a una página HTML específica
    function redirigirAHTML2() {
      window.location.href = 'editar/<str:codigo>/'; // Reemplaza '/servicios_asignacion' con la ruta de tu página HTML
    }
  </script>
  <script src="{% static 'js/transiciones.js' %}"></script>
</body>

</html>