{% extends 'base.html' %}


{% block content %}
<div>
    <h1>Gestion de la Informacion </h1>

 

    <button>Crear un nuevo programa</button>
    <a href="editarprograma/">
        <button>Editar programa existente </button>
    </a>
    <button>Generar reporte sobre programa existente</button>
    <br>
    <a href="eliminarprograma/">
        <button>Eliminar programa inactivo </button>
    </a>
    <button>Buscar informacion de programa</button>
    <button>Periodo Academico</button>
    
    
</div>

{% endblock %}