{% extends 'base.html' %}


{% block content %}
<div>
    <h1>Gestion de la Informacion </h1>
   
    <a href="/pogramacion">
        <button> Crear un nuevo programa</button>
    </a>
    <a href="/lista/"><button>
        Editar programa existente</button>
    </a>
    <button>Generar reporte sobre programa existente</button>
    <br>
    <a href="/eliminar_programa_inactivo">
    <button>Eliminar programa inactivo</button>
    </a>
    <button>Buscar informacion de programa</button>
    <button>Periodo Academico</button>
    
    
</div>

{% endblock %}