{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Programas Académicos</title>
</head>
<body>
    <h1>Lista de Materias</h1>
    <ul>
        {% for materia in materias %}
            <li>
                {{ materia.nombre }}
                <a href="{% url 'horarios' materia.id %}" class="btn btn-primary">Consultar Horarios</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
{% endblock %}