{% extends 'base2.html' %}


{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
</head>
<body>
    <h2>Iniciar Sesión</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% if form.non_field_errors %}
            <div class="error">{{ form.non_field_errors }}</div>
        {% endif %}
        <div class ="auth_actions">
            <input class = "btn btn--sub btn--lg" type="submit" value="log">
            <a href="{% url 'reset_password' %}">Olvidaste contraseña?</a>
        </div>
        <button type="submit">Iniciar Sesión</button>
    </form>
    <a href="/register_us"><button> Registrar </button></a>
</body>
</html

    



{% endblock %}