{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Nueva malla curricular</title>
</head>
<body>
    <h1>Crear Nueva malla curricular</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>
</body>

    <a href="/gestion/nuevoprograma/"><button>Atras</button></a>
    
    
</div>

{% endblock %}