
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        
        {% for programa in programa_de_posgrados %}
          {% for semestre in semestres %}
            {% if programa.nombre_programa == semestre.programa_semestre %}
            <p>
              {{ semestre.nombre_semestre }}
            </p>
              {% else %}
            <p> No hay semestres asociados disponibles</p>
            {% endif %}
          {% endfor %}
        {% endfor %}  
        <div>
          <a href="/index">
            <button type="submit">Continuar</button>
          </a>
        </div>
      </form>

 
</body>
</html>
