{% load static %}
<html>
    <head>
        <title>
            Registro de Profesores
        </title>
        <link rel="stylesheet" href='{% static "css/registro_materia_estilo.css" %}' type='text/css'>
        <div class="bloq-sup">
            <form method="get"> 

                <input class="boton-2" name="boton1" type="image">
    
            </form>

            <div class="bloq-sup_secd">
                <H1>CCSA</H1>
        
                {{error}}
        
                <H3>Centro Compartido de Servicios Academicos</H3>
            </div>
        </div>
        <div class="bloq-mid">
            <body>
                <div class="intermed">
                    <h1>Registro de Profesor</h1>
                </div>
                <div class="intermed-bloq">
                    <form method="POST" class="form-1">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="buttondiv">
                            <button type="submit" class="btn-1">Guardar</button>
                        </div>
                    </form>
                </div>
            </body>
        </div>
        <div class="bloq-inf">
            <h4>Universidad Icesi</h4>
            <h4>Todos los derechos reservados</h4>
            <h4>Derechos de Autor</h4>
        </div>
    </head>

</html>