<html>
    <head>
        <title>
            Registrar Materias de la Malla Curricular
        </title>

        <form method="get" action="">

            <input name="boton1" type="image" src="Images/retorno.png" width="25" height="25">

        </form>

        <H1>CCSA</H1>
        <H3>Centro Compartido de Servicios Academicos</H3>

        <body>
            <h1>Crear Nueva materia</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Guardar</button>
            </form>
        </body>

        <h4>Universidad Icesi</h4>
        <h4>Todos los derechos reservados</h4>
        <h4>Derechos de Autor</h4>
    </body>

</html>