{% load static %}

{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios de Asignación</title>
    <link rel="stylesheet" href='{% static "css/servicios_de_asignacion.css" %}' type='text/css'>
</head>
<body>
    <div class="bloq-sup">
        <form method="get">
            <div class="bloq-sup_secd">
                <div class="theboton">
                    <button class="boton-2" name="boton1" type="button" onclick="redirigirAHTML()">
                    <img src="/static/Images/retorno.png" height="55" width="55" alt="Botón de retorno" />
                    </button>
                </div>
                <div class="titulo">
                <h1>CCSA</h1>
                    <div class="descripcion">
                        <h3>Centro Compartido de Servicios Académicos</h3>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="bloq-mid">
        <div class="intermed">
            <h1>Servicios<br>De Asignación</h1>
        </div>
        <div class="intermed-bloq">
                <button class="btn-1" type="button" onclick="redirigirAHTML1()">Registrar Materia</button>
                <button class="btn-1" type="button" onclick="redirigirAHTML2()">Registrar Profesor</button>
                <button class="btn-1" type="button" onclick="redirigirAHTML3()">Asignar Horarios</button>
                <button class="btn-1" type="button" onclick="redirigirAHTML4()">Consultar Horarios</button>
                <button class="btn-1" type="button" onclick="redirigirAHTML5()">Modificar Horarios</button>
                <button class="btn-1" type="button" onclick="redirigirAHTML6()">Crear Espacio</button>
                <button class="btn-1" type="button" onclick="redirigirAHTML7()">Editar Espacio</button>
                <button class="btn-1" type="button" onclick="redirigirAHTML8()">Eliminar Espacio</button>
        </div>
        <div class="intermed-bloq-down">
            <button class="btn1 success" type="button" onclick="redirigirAHTML()">Volver</button>
        </div>
    </div>
    <div class="photo">
        <img src="/static/Images/servicios_asignacion.png" alt="Mi imagen">
    </div>  
    <!-- <div class="container">
        <h1>Servicios de Asignación</h1>
        <p>Selecciona una opción:</p>
        <ul>
            <li><a href="/gestion/nuevoprograma/mallacurricular/registroMateria">Registrar Materia</a></li>
            <li><a href="/gestion/nuevoprograma/registroProfesor">Registrar Profesor</a></li>
            <li><a href="/asignar_horario">Asignar Horarios</a></li>
            <li><a href="/consultar_horarios">Consultar Horarios</a></li>
            <li><a href="/modificar_horarios">Modificar Horarios</a></li>
            <li><a href="/crear_espacio">Crear espacio</a></li>
            <li><a href="/eliminar_espacio/<str:nombre>">Eliminar espacio</a></li>
        </ul>
        <!-- Botón de Volver -->
    </div> -->
    <div class="bloq-inf">
        <h4>Universidad Icesi</h4>
        <h4>Todos los derechos reservados</h4>
        <h4>Derechos de Autor</h4>
    </div>
    <script>
        // Función para redirigir a una página HTML específica
        function redirigirAHTML() {
          window.location.href = '/index'; // Reemplaza '/servicios_asignacion' con la ruta de tu página HTML
        }
      </script>
      <script>
        // Función para redirigir a una página HTML específica
        function redirigirAHTML1() {
          window.location.href = 'registroMateria/'; // Reemplaza '/servicios_asignacion' con la ruta de tu página HTML
        }
      </script>
      <script>
        // Función para redirigir a una página HTML específica
        function redirigirAHTML2() {
          window.location.href = 'registroProfesor/'; // Reemplaza '/servicios_asignacion' con la ruta de tu página HTML
        }
      </script>
    <div id="page1" class="fade-in">
        <div class="bloq-sup">
            <form method="get">
                <div class="bloq-sup_secd">
                    <div class="theboton">
                        <button class="boton-2" name="boton1" type="button" onclick="redirigirIndex()">
                        <img src="/static/Images/retorno.png" height="55" width="55" alt="Botón de retorno" />
                        </button>
                    </div>
                    <div class="titulo">
                    <h1>CCSA</h1>
                        <div class="descripcion">
                            <h3>Centro Compartido de Servicios Académicos</h3>
                        </div>
                    </div>
                </div>
            </form>
            <div class="bloq-mid">
                <div class="intermed">
                    <h1>Servicios<br>De Asignación</h1>
                </div>
                <div class="intermed-bloq">
                        <button class="btn-1" type="button" onclick="redirigirRegistrarMateria()">Registrar Materia</button>
                        <button class="btn-1" type="button" onclick="redirigirRegistrarProfesor()">Registrar Profesor</button>
                        <button class="btn-1" type="button" onclick="redirigirAHTML3()">Asignar Horarios</button>
                        <button class="btn-1" type="button" onclick="redirigirAHTML4()">Consultar Horarios</button>
                        <button class="btn-1" type="button" onclick="redirigirAHTML5()">Modificar Horarios</button>
                        <a href="/crear_espacio"><button class="btn-1" type="button">Crear espacio</button></a>
                        <a href="/lista_edificios"><button class="btn-1" type="button">Editar espacio</button></a>
                        <button class="btn-1" type="button">Eliminar espacio</button>
                </div>
                <div class="intermed-bloq-down">
                    <button class="btn1 success" type="button" onclick="redirigirIndex()">Volver</button>
                </div>
                <div class="photo">
                    <img src="/static/Images/servicios_asignacion.png" alt="Mi imagen">
                </div> 
                <div class="bloq-inf">
                    <h4>Universidad Icesi</h4>
                    <h4>Todos los derechos reservados</h4>
                    <h4>Derechos de Autor</h4>
                </div>
            </div>
        </div>
    </div>    
  <script>
    // Función para redirigir a una página HTML específica
    function redirigirAHTML() {
      window.location.href = '/index'; // Reemplaza '/servicios_asignacion' con la ruta de tu página HTML
    }
  </script>
  <script>
    // Función para redirigir a una página HTML específica
    function redirigirAHTML2() {
      window.location.href = 'editar/<str:codigo>/'; // Reemplaza '/servicios_asignacion' con la ruta de tu página HTML
    }
  </script>
  <script src="{% static 'js/transiciones.js' %}"></script>
      <script>
        // Función para redirigir a una página HTML específica
        function redirigirAHTML3() {
          window.location.href = 'asignar_horario/'; // Reemplaza '/servicios_asignacion' con la ruta de tu página HTML
        }
      </script>
      <script>
        // Función para redirigir a una página HTML específica
        function redirigirAHTML4() {
          window.location.href = 'consultar_horarios/'; // Reemplaza '/servicios_asignacion' con la ruta de tu página HTML
        }
      </script>
      <script>
        // Función para redirigir a una página HTML específica
        function redirigirAHTML5() {
          window.location.href = 'modificar_horarios/'; // Reemplaza '/servicios_asignacion' con la ruta de tu página HTML
        }
      </script>
      <script>
        // Función para redirigir a una página HTML específica
        function redirigirAHTML6() {
          window.location.href = 'crear_espacio/'; // Reemplaza '/servicios_asignacion' con la ruta de tu página HTML
        }
      </script>
      <script>
        // Función para redirigir a una página HTML específica
        function redirigirAHTML7() {
          window.location.href = 'lista_edificios/'; // Reemplaza '/servicios_asignacion' con la ruta de tu página HTML
        }
      </script>
       <script>
        // Función para redirigir a una página HTML específica
        function redirigirAHTML8() {
          window.location.href = 'eliminar_espacio/'; // Reemplaza '/servicios_asignacion' con la ruta de tu página HTML
        }
      </script>
</body>
</html>